<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Add Student</display-name>
        <web-resource-collection>
            <web-resource-name>Student</web-resource-name>
            <description/>
            <url-pattern>/webresources/students</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Coordinator</web-resource-name>
            <description/>
            <url-pattern>/webresources/coordinators</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Begeleider</web-resource-name>
            <description/>
            <url-pattern>/webresources/begeleiders</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Bedrijf</web-resource-name>
            <description/>
            <url-pattern>/webresources/bedrijven</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>StageAanvraag</web-resource-name>
            <description/>
            <url-pattern>/webresources/stageaanvragen</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>StagePlaats</web-resource-name>
            <description/>
            <url-pattern>/webresources/stageplaatsen</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Wijzig en delete Studenten</display-name>
        <web-resource-collection>
            <web-resource-name>Student</web-resource-name>
            <description/>
            <url-pattern>/webresources/students/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Begeleider</web-resource-name>
            <description/>
            <url-pattern>/webresources/begeleiders/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Coordinator</web-resource-name>
            <description/>
            <url-pattern>/webresources/coordinators/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Bedrijf</web-resource-name>
            <description/>
            <url-pattern>/webresources/bedrijven/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>StageAanvraag</web-resource-name>
            <description/>
            <url-pattern>/webresources/stageaanvragen/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>StagePlaats</web-resource-name>
            <description/>
            <url-pattern>/webresources/stageplaatsen/id/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>stagesRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
